
/* my color pallete as shown in the root css, consists of this dark green, this cream and black. But The green is mainly for accents, to keep up the color scheme, when I
was generating the pictures I asked chat gpt to use a specific style that used the green and a brown color, so I would consider it also technically a "part"
of my webpage. Without considering the images I would declare my website to be using a monocrhromatic color scheme but I believe that the pictures should count and I declare it to be 
a analogous color scheme with the different colors of greens with the suporting colors of brown, cream and black*/

/* For My font I used A sans serif font as I mentioned before, I beileve that sans serif is a more futuristic font than a serif font and as this 
webpage is supposed to depict something of the future I though it would be the best*/

/*another thing is that in this webpage I used rem and other units instead of px because the others are better for liquid layouts and the values are basically just converted from px*/

* { /*basically sets css box model values to 0 to basically reset them*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root { /* this basically defines the basic colors*/
    --main-background: #000000; /* average black color which is our background*/
    --green-background:  #061B0A; /* this is our accent color, green*/
    --text-color:  #F5ECD5; /* this is the color for all our text on la website*/
    
    --nav-h:    3.75rem;
    
}

video { /* hides the overflow on the video, makes it so its not zoomed in and shows the entire video*/
    overflow: hidden;
}


html {
    font-size: 1rem; /* sets a basic font size for everything, ensuring its 16px minimum*/
    line-height: 1.6rem; /* adds a default line height, this makes the text easier to read u fell me :)*/
    font-family: 'Open Sans', sans-serif; /* sets the font for the page, which in this case is open sans, but then will revert to a sans serif font if it aint work*/
    font-style: normal; /* just like it says, the font style is just normal, does nothing*/
    text-transform: none; /* again the same thing, doesnt do nun*/
}

a:hover { /* this makes it so when the anchors of the websites are hovered on, they grow bigger by x1.1*/
    transform: scale(1.1);
}

a:visited { /* when a link on the page is visited, the font style of the abecomes italic*/
    font-style: italic;
}

a:active { /* when u are clicked on and holding on a a , it gains a box shadow will the following values*/
    box-shadow: #F5ECD5 2px 2px 10px;
}

body {
    background-color: var(--main-background);  /* sets the background color to our main background color mentioned prior*/
    color: var(--green-background); /* same thing as before, sets the green color*/
    margin: 0;/* sets the margin to the body to nun*/
    color: var(--text-color) ; /* again jsut sets basic aahh value*/
}

a {
    color: var(--text-color); /*again basic values, makes it so anchors have no anchors to begin with as they usally start of with a underline, and also define the values for the transition for the hovers and stuff*/
    text-decoration: none;
    transition: transform 0.3s ease;
}


/* css for the header, */
header { 
    position: -webkit-sticky; /* basically sets the position to sticky with both its vendor prefix and notmal css*/
    position: sticky;
    top: 0; /* makes the top of the header to have a value of 0 and under that it sets the width to be 100% of the page and the height to be the set height*/
    width: 100%;
    height: var(--nav-h);
    background: linear-gradient(  /* makes the background of the header to a transparent gradient that also has a filter of blur, so its blur, it also has its vendor prefix for that*/
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
    );
    -webkit-backdrop-filter: blur(1.5625rem);
    backdrop-filter: blur(1.5625rem);
    z-index: 100; /* makes the z index high so its on top of everthing else*/
}


.header-content {
    max-width: 75rem; /* this basically adds the basic styles such as max width and matgin to wanted styles and makes the content inside the header, and center*/
    margin: 0 auto;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center; /* these use the vendor prefices*/
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 1rem;
    position: relative; /* makes the header-content positioned relative to the parent which is the header*/
}

/* Logo */
.logo {
    display: -webkit-box; /* again basic styles for the logo, display flex, aligns the items to center*/
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.logo img { /*makes the logo image round with the border radius and adds a height that is liquid*/
    height: 2.25rem;
    border-radius: 50%;
}
.logo h1 { /* same thing adds more liquid styles to the logo h1 making it more accesible for different scren sizes*/
    margin-left: 0.5rem;
    font-size: 1.75rem;
}

nav ul { /* again very simple styles*/
    list-style: none;
    margin: 0;
    padding: 0;
}


section {
    border-top: 25px solid #061B0A; /* just adds a slight border to the top of the sections for asthetic purposes :)*/
}

/*here we are adding animations with the vendor prefix*/

@-webkit-keyframes fadeUp {
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0); /* makes the things thing to be opaque and get translated up*/
    }
}

h2 {
    font-size: clamp(1.5rem, 2rem, 2.5rem); /* this is a very tuff feature I found, basically makes 3 different values for h2 based on the meeded size for differnt screen sizes */
    margin-bottom: 1rem; /* again just aadding some madding, making it a flex box and alighing to center*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5); /* using rgba to make a black semi transparent background*/
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;  /* adding some padding and giving a a slight border raduis*/
    
}
p {
    
    margin: 0 auto 2rem;  /* this is again setting some basic margin, and setting some padding and the same border raduis as the h2*/
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
    
    
}
.learn-more-button {
    
    padding: 0.75rem 1.5rem; /* adds more padding basic and mentioned before*/
    border: 0.3rem solid #061B0A;  /* makes the border a dark green and gives it a border raduis so its rounded*/
    border-radius: 3rem;
    cursor: pointer; /* makes ur cursor a pointer when u go over it*/

}

#community { /*gives the community section a background image, makes it so the image is in the center, it is object fit cover and the image is fixed so it doesnt move when u scroll*/
    background: url('images/community-center.png')
    center/cover fixed;
}


#park { /*gives the park section a background image, makes it so the image is in the center, it is object fit cover and the image is fixed so it doesnt move when u scroll*/
    background: url('images/main-park-image.png')
    center/cover fixed;
}




footer {  /* aligns the text of the footer to the center, adds padding, gives the footer a border on the top for aesthetic purposes */
    text-align: center;
    padding: 2rem 1rem;
    border-top: 15px solid #061B0A;
}


.hamburger-menu {  /* positions he menu to be absolute, and gives it a right value so its on the right, and a top so its not attached to the top*/
    position: absolute;
    right: 1rem;
    top: 0.7rem;
    font-size: 1.75rem; /*cuz we used an entity for how the menu looks, i increase the font size to make it bigger*/
    background: none; /* makes it so it doesnt have any background*/
    border: none; /* makes it so it doesnt have any border that may come with any*/
    color: var(--text-color); /* makes the color of it to be the same as the text color*/
    cursor: pointer;
    z-index: 200; /* high z index so it appears above things*/
}

#nav-menu {
    position: absolute; /* makes it positioned absolute, makes the top of it to be the same as the height of the nav bar so its under it and */
    top: var(--nav-h);
    width: 100%; /* makes it take up 100% of the width*/
    background: linear-gradient(
    to bottom, /* makes the background a linear gradient that is semi transparent with the help of rgba*/
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.9)
    );
    max-height: 0; /* sets the default max height to 0, so its doesnt show*/
    z-index: 150; /* rounds the corners and gives it a high enough z index*/
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    
}

#nav-menu.show { 
    max-height: 25rem;
    /* sets the max height to not 0 , so when we click it it apeears*/
}

#nav-menu ul {  /* makes the ul a flexbox and removes all list styles that come iwth ul*/
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column; /* makes the direction of the ul to be a column*/
    flex-direction: column;
    gap: 1rem; /* adds gap between the different list items*/
    padding: 1rem 0; /* adds some padding, removes any margin and sets the default opacity to with a opacity transition, (opacity is changed when .show)*/
    margin: 0;
    opacity: 0;
    -webkit-transition: opacity 0.4s ease-out 0.1s;
    transition: opacity 0.4s ease-out 0.1s;
}

#nav-menu.show ul {
    opacity: 1; /*makes the uls opacity 1 */
}

#nav-menu li {
    text-align: center; /* alignts the list item text to the center, adds some padding, and rounds the corners using the border raduis properity*/
    padding: 0.75rem 0;
    border-radius: 0.5rem;
    -webkit-transition: background 0.3s ease; /* adds transtion to the background of the li as we will change the background on hover*/
    transition: background 0.3s ease;
}
#nav-menu li:hover {
    background: rgba(6, 26, 10, 0.99); /*gives the li a background with the following backgrounf*/
}

#nav-menu a {  /*bolds the text of all the anchors inside the nav-menu*/
    font-weight: bold;
    
}

#interior { /* makes it a flexbox, centers everything, vertically and horizontally, hides the overflow and gives it a height*/
    height: 40rem;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 1rem; /* adds some padding*/
}

.section-description { /* aligns the text to the center and sets the margin and gives it a larger font size */
    text-align: center;
   
    margin: 0 auto 2rem;
    font-size: 1.2rem;
}

.section-type-1 { /*the styles for the first type of section in the webpage*/
    overflow: hidden; /*hides all overflow*/
    height: 80vh; /*sets a height for this type of section*/
    display: -webkit-box; /*makes this section a flex box*/
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center; /*aligns the stuff to center both horizontally and vertically*/
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    text-align: center; /* aligns all the text to the center and adds some padding*/
    padding: 0 1rem;
}

.section-type-1 h1 { 
    background: rgba(0, 0, 0, 0.8); /*makes the background a semi tranparent black color*/
    padding: 1rem 2rem; /*adds some padding*/
    border-radius: 1.25rem; /* rounds the h1*/
    font-size: clamp(1.5rem, 4vw, 3rem); /*this is the cool feature I already talked about that lets u set different sizes*/
    -webkit-animation: fadeUp 1s ease-out forwards .5s;
    animation: fadeUp 1s ease-out forwards .5s; /*this calles the animation I created*/
    opacity: 0; 
    -webkit-transform: translateY(1.25rem);
    -ms-transform: translateY(1.25rem); /* translates the thing up 1.25 rem*/
    transform: translateY(1.25rem);
}

.section-type-2 { /*adds some padding and aligns the text to the center*/
    padding: 4rem 1rem;
    text-align: center;
}

.donwload { /*this is for the kapyong barracks download, bolds it so it can be distinguished*/
    font-weight: bold;
}